* {
  margin: 0;
}
html {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(24, 21, 33, 1);
}

.flowerImg {
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}
.moonImg {
  width: 100%;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: -3;
}
div {
  text-align: center;
}
.title {
  color: aliceblue;
  height: 70vh;
  padding-top: 15rem;
  position: relative;
  font-weight: 900;
  font-size: 3em;
}
.title .textWrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.title .titleText {
  display: inline-block;
  line-height: 1em;
}
h5 {
  color: rgb(81, 118, 151);
  margin-top: 10rem;
}

.roundDiv {
  background-color: rgb(249, 234, 245);
  -webkit-box-shadow: 0px 0px 18px 5px rgba(255, 247, 251, 0.68);
  box-shadow: 0px 0px 18px 5px rgba(255, 247, 251, 0.68);
  border-radius: 30px;
  margin: 6rem;
  padding: 2rem;
  font-size: 20px;
}

.divTitle {
  margin: 2rem;
  color: rgb(142, 83, 127);
  font-size: 45px;
  font-weight: 25px;
}
.contentWrap {
  padding: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.contents {
  flex: 1 1 40%;
  margin: 2rem;
}

.contentsTitle {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 30px;
  margin: 1rem;
  color: rgb(142, 83, 127);
}
p {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 23px;
}

a {
  color: rgb(210, 140, 178);
  text-decoration: none;
}
a:hover {
  color: pink;
}

#htmlLogo {
  width: 40vw;
  margin: auto;
}
#reactLogo,
#styledLogo {
  margin: auto;
  width: 15vw;
}

#skills {
  background-color: rgb(254, 230, 232);
}
#skills .divTitle {
  color: rgb(142, 83, 91);
}
#projects {
  background-color: rgb(250, 235, 223);
}
#projects .divTitle {
  color: rgb(142, 119, 83);
}
#contect {
  background-color: rgb(245, 234, 249);
}
#contect .divTitle {
  color: rgb(134, 83, 142);
}

/* 슬라이더 설정 */
.swiper {
  width: 40rem;
  height: 21rem;
  margin-top: 50px;
}
.slider-img {
  width: -webkit-fill-available;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #ffc547;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-theme-color: #ffc547;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  --swiper-theme-color: #baa769;
}

.projectcontents {
  text-align: center;
  margin: 2rem;
  flex: 1 1 35%;
  text-align: initial;
}

#standbyeatlogo {
  width: 6rem;
  margin: 15px;
}
.githubLogo {
  width: 30px;
  margin-right: 10px;
}

.skills {
  margin-top: 50px;
}
.gitButton {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  width: 10rem;
  background-color: rgb(255, 251, 247);
  border: #ffc547 solid 2px;
  border-radius: 10px;
  font-size: 25px;
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(1);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0) scale(1);
}
[data-scroll="out"] {
  opacity: 0;
}
